@page
@model BookReader.Pages.DetailsModel2
@{
    if (@Model.u == null)
    {
        <p>File not found</p>
    }
    else
    {
        <style>
            th, td {
                padding: 10px;
            }
        </style>

        <table class="table">

            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Personal Number</th>
                <th>E-Mail</th>
                <th>Post Adress</th>
                <th>Post Number</th>
                <th>City</th>
            </tr>

            <tr>
                <td>@Model.u.firstName</td>
                <td>@Model.u.lastName</td>
                <td>@Model.u.personNum</td>
                <td>@Model.u.eMail</td>
                <td>@Model.u.postAdress</td>
                <td>@Model.u.postNum</td>
                <td>@Model.u.city</td>
            </tr>

        </table>
        }
}
