@page
@using BookReader.Models
@model BookReaderASP.NETCore.Pages.Users.UpdateModel
@{

    <style>
        input {
            display: block;
        }
    </style>
    <form action="/User/Update" method="post">
        First Name:
        <input name="firstName" id="firstName" value="@Model.u.firstName" />
        Last Name:
        <input name="lastName" id="lastName" value="@Model.u.lastName" />
        Personal Number:
        <input name="personNum" id="personNum" value="@Model.u.personNum" />
        E-Mail:
        <input name="eMail" id="eMail" value="@Model.u.eMail" />
        Post Adress:
        <input name="postAdress" id="postAdress" value="@Model.u.postAdress" />
        Post Number:
        <input name="postNum" id="postNum" value="@Model.u.postNum" />
        City:
        <input name="city" id="city" value="@Model.u.city" />
        
        <input name="userID" id="userID" value="@Model.u.userID" type="hidden"/>
        <button>Update User</button>
    </form>
}
