@page
@model BookReaderASP.NETCore.Pages.Loans.DetailsModel
@{
    if (@Model.loan == null)
    {
        <p>File not found</p>
    }
    else
    {
        <style>
            th, td {
                padding: 10px;
            }
        </style>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Loan Date</th>
                <th>Book ISBN</th>
            </tr>


            <tr>
                <td>@Model.loan.firstName</td>
                <td>@Model.loan.lastName</td>
                <td>@Model.loan.startDate</td>
                <td>@Model.loan.endDate</td>
                <td>@Model.loan.bookISBN</td>

            </tr>


        </table>
    }

}
